@model ExpenseTracker.Models.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>
<br />
<div class="row">
    @if (ViewBag.Role == 1)
    {
    <div class="col-lg-2">
        <a href="@Url.ActionLink("Create", "Expense")" type="button" class="btn btn-dark btn-block">Enter New Expense</a>
    </div>
    }
    <div class="col-lg-2">
        <a href="@Url.ActionLink("Index", "Expense")" type="button" class="btn btn-dark btn-block">View List of Expenses</a>
    </div>
</div>
<br />

<div>
    <h3>User</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Model.User.FirstName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd class="col-sm-10">
            @Model.User.LastName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.email)
        </dt>
        <dd class="col-sm-10">
            @Model.User.email
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.userName)
        </dt>
        <dd class="col-sm-10">
            @Model.User.userName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.phoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Model.User.phoneNumber
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.SSN)
        </dt>
        <dd class="col-sm-10">
            @Model.User.SSN
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-lg-2">
        <a href="@Url.ActionLink("EditUser", "User", new { IDNumber = Model.User.IDNumber})" type="button" class="btn btn-dark btn-block">Edit Account Information</a>
    </div>
    @*<div class="col-lg-3">
            <a href="@Url.ActionLink("Edit", "Employer", new { Id = Model.Employer.Id})" type="button" class="btn btn-primary btn-lg btn-block">Edit Employer</a>
        </div>*@
</div>
<br>
<br>
<div>
    <div>
        <h3>Employer Information</h3>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employer.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Model.Employer.CompanyName
        </dd>
    </dl>
</div>
<div>
    @Html.HiddenFor(m => m.User.IDNumber)


</div>