@model IEnumerable<ExpenseTracker.Models.Expense>
@using ExpenseTracker.Models;
@using ExpenseTracker.Helpers;

@{
    ViewData["Title"] = "List of Expenses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Expenses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @if (ViewBag.Type == 0)
            {
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Merchant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (ViewBag.Type == 0)
                {
                    <td>

                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Merchant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportNumber)
                </td>
                <td>
                    @{
                        string statusDescription = EnumHelpers<Statuses>.GetDescription(item.Status);
                    }
                    @statusDescription
                </td>
                @if (ViewBag.Type == 1)
                {

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                }
                @if (ViewBag.Type == 0)
                {
                    <td>
                        @Html.ActionLink("Edit Status", "Edit", new { id = item.Id })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Dashboard" asp-controller="User">Back to Dashboard</a>
</div>
